<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert</title>
</head>
<body>
    <center>
        <form action="Add">
            <label>Staff Id: </label><input type="text" name="sid">
            <br><br><label>Name: </label><input type="text" name="name">
            <br><br><label>Age : </label><input type="text" name="age">
            <br><br><label>Phn No: </label><input type="text" name="mob">
            <br><br><label>E-mail Id: </label><input type="text" name="emid">
            <br><br><label>Department : </label><input type="text" name="dept">
            <br><br><input type="submit" value="Submit">
        </form>
    </center>
    
</body>
</html>