<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form action="search">
            <label>Enter Department </label><input type="text" name="dpt">
            <label>Enter name:</label><input type="text" name="n">
            <br><br><input type="Submit" value="Search">
        </form>
        <form action="delete">
            <br><br>
            <label>Enter Department </label><input type="text" name="dpt">
            <label>Enter name:</label><input type="text" name="n">
            <input type="Submit" value="Delete">
        </form>
        <form action="update">
            <br><br>
            <label>Enter Staff id </label><input type="text" name="id">
            <label>Enter New E-mail:</label><input type="text" name="e">
            <label>Enter PhnNo: </label><input type="text" name="p">
            <input type="Submit" value="Update">
        </form>
        <form action="dis">
            <br><br>
            <input type="Submit" value="Disp">
        </form>
    </center>


</body>
</html>