<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        a{
            text-decoration: none;
            color:red;
        }
    </style>
</head>
<body style="font-size: 20px; color: aliceblue; background-color: black;">
    <center>
    <h1>Welcome to the Home Page</h1>

    <ul style="list-style: none;;">
        <li><a href="insert/">Insert</a></li>
        <li><a href="display/">display</a></li>
        <li><a href="update/">Update</a></li>
    </ul>
</center>
</body>
</html>
